.LoginForm{
    position: relative;
    min-width: 225px;
    width: 40%;
    max-width: 350px;
    margin-bottom: 10px;
}

.LoginButton{
    position: relative;
    min-width: 80px;
    width: 25%;
    max-width: 175px;
    height: 45px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.LoginFeedbackText{
    background-color: #531414c0;
    min-width: 225px;
    width: 40%;
    max-width: 350px;
}