.QueueElementBox{
    height: 70px;
    width: 100%;
    margin: 5px;
}


.QueueBox{
    position: absolute;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 100%;
}

.QueueSkip{
    top: 0;
    right: 0;
}