.AddToQueueSearchField{
    position: relative;
    min-width: 200px;
    width: 70%;
    max-width: 500px;
    margin-bottom: 10px;
}

.AddToQueueButton{
    position: relative;
    min-width: 100px;
    width: 25%;
    max-width: 175px;
    height: 45px;
    margin-bottom: 10px;
    margin-top: 5px;
}